@{
    ViewBag.Title = "Index";
}
<h2>Class Reservations</h2>
Welcome to Class Reservation Site!
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}